/* RULESET */

body, html 
{
    background-color: rgba(43, 43, 43, 0.9);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

/* LINKS */

a
{
    color: #4ade80;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease;
}

a::after 
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0%;
    background: #4ade80;
    transition: width 0.3s ease;
    border-radius: 2px;
}


a:hover 
{
    color: #86efac;
}

a:hover::after 
{
    width: 100%;
}

/* BUTTONS */

button 
{
    padding: 12px 24px;
    background-color: #86efac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}
        
button:hover {
    background-color: #86efac;
    transform: scale(1.05); 
}
        
button:active {
    transform: scale(0.95);
}